@model Weapsy.Blog.Reporting.Models.IndexViewModel

@{
    ViewData["Title"] = Model.BlogTitle;
}

@foreach (var post in Model.Posts)
{
    <h3>@post.Title</h3>
    <p>@post.Summary</p>
    <p><a href="@post.Url" title="Read the full article">Read more...</a></p>
}
